<?xml version="1.0" standalone="yes"?>  <DATAPACKET Version="2.0"><METADATA><FIELDS><FIELD attrname="IMPRESSORAPortaNome" fieldtype="string" WIDTH="100"/><FIELD attrname="IMPRESSORAModelo" fieldtype="i4"/><FIELD attrname="IMPRESSORAAvanco" fieldtype="i4"/><FIELD attrname="ELGIN_ComprovanteCliente" fieldtype="i4"/><FIELD attrname="ELGIN_ComprovanteLoja" fieldtype="i4"/><FIELD attrname="ELGIN_SalvarLOG" fieldtype="boolean"/><FIELD attrname="ELGIN_ImpressaoReduzida" fieldtype="boolean"/><FIELD attrname="ELGIN_ComprovanteSimplificado" fieldtype="boolean"/></FIELDS><PARAMS CHANGE_LOG="1 0 4"/></METADATA><ROWDATA><ROW RowState="4" IMPRESSORAPortaNome="RAW:TECTOYIP" IMPRESSORAModelo="4" IMPRESSORAAvanco="5" ELGIN_ComprovanteCliente="1" ELGIN_ComprovanteLoja="1" ELGIN_SalvarLOG="TRUE" ELGIN_ImpressaoReduzida="TRUE" ELGIN_ComprovanteSimplificado="TRUE"/></ROWDATA></DATAPACKET>